<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Server</name>
    </assembly>
    <members>
        <member name="T:Server.Server">
            <summary>
            The server application entry point.
            </summary>
        </member>
        <member name="M:Server.Server.Main">
            <summary>
            The method that starts the Server application.
            </summary>
        </member>
    </members>
</doc>
